@import "style.css";

/*
Main
*/
main {
    display: flex;
    background-color: #FFF;
}

main section {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 40px;
    overflow-y: scroll;
    
}
main section article {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    min-width: 350px;
    padding: 20px;
    background-color: #DDD;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px #333;
    cursor: pointer;
}

article h3 {
    text-align: center;
}

main section article img {
    object-fit: contain;
    height: 20em;
    width: 150px;
    background-color: #FFF;
    padding: 20px;
    margin: -70px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px #6d6d6d;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    z-index: 1;
}

main section article li {
    font-size: medium;
    line-height: 1.5;
    list-style-type: none;
    margin: 0;
	padding-left: 40px;
	list-style: none;
}

.category {
    color: #bb5a1d;
    display: block;
    text-align: center;
    text-decoration: overline underline;
    text-transform: uppercase;
}

.specs li i {
    padding-right: 10px;
    color: #bb5a1d;
}

.specs li {
    line-height: 1.5;
    padding: 0;
}

ul.specs {
    align-self: flex-start;
    margin: 20px 0 20px 0;
    padding: 0;
}

.price {
    align-self: flex-end;
    color: #bb5a1d;
    margin-top: -60px;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: xx-large;
    z-index: 2;
}

article {
    
    transition: transform ease 0.2s;
    -webkit-transition: transform ease 0.2s;
    -o-transition: transform ease 0.2s;
    -moz-transition: transform ease 0.2s;
}

article:hover {
    transform: scale(105%);
    -webkit-transform: scale(105%);
    -o-transform: scale(105%);
    -moz-transform: scale(105%);
    transition: transform ease 0.2s;
    -webkit-transition: transform ease 0.2s;
    -o-transition: transform ease 0.2s;
    -moz-transition: transform ease 0.2s;
}

/*
NavBar
*/
#menuButton {
    height: 50px;
    margin-left: auto;
    display: flex; 
    justify-content: center;
    cursor: pointer;
}

#menuButton i {
    color: #bb5a1d;
}

#menuButton i.fa-circle {
    font-size: 1em;
}
#menuButton i.fa-bars {
    font-size: 0.5em;
}


/*
SideBar
*/
main aside {
    max-width: 300px;
    min-width: 150px;
    border-color: #333;
    background-color: whitesmoke;
    overflow-y: scroll;
}

.aside-row {
    margin-left: 10px;
} 

#menuButton.hide, .hide {
    display: none;
}

.show-sidebar {
    display: block;
    position: absolute;
    z-index: 1;
    right: 0;
}