@import "style.css";

/*
Main
*/
main {
    display: flex;
}

main section {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 20px;
    row-gap: 40px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
main section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background-color: #FCFAFF;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px #D3D3D3;
}

main section article img {
    object-fit: contain;
    height: 300px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #D3D3D3;
}

main section article p {
    font-size: small;
    margin: 20px;
}

main aside {
    max-width: 300px;
    min-width: 150px;
    border-color: #333;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.aside-row {
    margin-left: 10px;
} 
