body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
/*
Header Bar
*/
header, header a {
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

header img {
    width: 3em;
}

header h1 {
    font-size: 2em;
    color: #000;
}

/*
Navigation Bar
*/
nav ul {
    padding: 0;
    background-color: #333;
    display: flex;
    list-style: none;
    margin: 0px;
}
nav li {
    position: relative;
    display: flex;
    align-items: center;
}

nav li a {
    line-height: 50px;
    cursor: pointer;
    padding-inline: 20px;
    display: flex;
    text-decoration: none;
    color: #FCFAF9;
}

nav li:hover {
    background-color: #5E5E5E;
}

#sub_nav {
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;
    display: none;
    flex-direction: column;
}

nav li:hover #sub_nav {
    display: flex;
}

/*
Footer
*/
footer {
    height: 50px;
    width: 100vw;
    background-color: #5E5E5E;
}

.footer-container {
    
}

#imprint {
    width: 100%;
    text-align: center;
    padding-top: 4vh;
}

#imprint em {
    display: block;
    padding-bottom: 5px;
    font-weight: 600;
}